  .mainheadingg{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }

  .topText{
    text-align: left;
    width:100%;
    padding-bottom: 10px;
    color: #92bde7;
  }
  .maindiv{
    width: 80%;
    background: white;  
    padding: 2em;
    border-radius: 20px;
    height: 60vh;
    margin: auto;
    animation: topToBottom 2s;
    animation-direction: alternate;
    position: relative;

  }

  .maindiv2{
    width: 80%;
    background: white;  
    padding: 2em;
    border-radius: 20px;
    /* height: 60vh; */
    margin: auto;
    animation: topToBottom 2s;
    animation-direction: alternate;
    position: relative;
  }
  .hidden {
    display: none;
   }
  .center{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#485e74;
  }

  .inputBox input{
    width:100%;
    padding:8px;
    border:1px solid #c9e6ff;
  }
  .inputBox{
    grid-column: 1 / 2;
   }
  .selectclass{
    border:1px solid #c9e6ff;
    width: 100%;
    padding: 8px;
  }


  button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
  }
  .inputBox button{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }

  .contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  @keyframes topToBottom {
    0%   { transform: translateY(-180px); opacity: 1;}
    25%  {transform: translateY(20px);  }
    50%  { transform: translateY(-10px); }
    75%  { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
    }

    @media(min-width:700px){
        /* .wrapper{
          display: grid;
          grid-template-columns: 1fr 2fr;
        } */
      
        .maindiv{
            width: 40%;
            /* background: white;
            padding: 2em;
            border-radius: 20px;
            height: 40vh;
            margin: auto; */
          }
        /* .wrapper > *{
          padding:1em;
        }
      
        .company-info h3, .company-info ul, .brand{
          text-align: left;
        } */
      }
    